@font-face {
  font-family: 'SourceSans3';
  src: url('/assets/fonts/SourceSans3-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSans3';
  src: url('/assets/fonts/SourceSans3-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.background');
    color: white;
    margin: 0;
    font-family: 'SourceSans3', ui-sans-serif, system-ui, sans-serif;
  }
}

@layer components {
  .card {
    @apply bg-surface rounded-2xl p-5 shadow-lg border border-border/20;
  }
}